@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
	--background: oklch(1.0000 0 0);
	--foreground: oklch(0 0 0);
	--card: oklch(1.0000 0 0);
	--card-foreground: oklch(0 0 0);
	--popover: oklch(1.0000 0 0);
	--popover-foreground: oklch(0 0 0);
	--primary: oklch(0.6489 0.2370 26.9728);
	--primary-foreground: oklch(1.0000 0 0);
	--secondary: oklch(0.606 0.25 292.717);
	--secondary-foreground: oklch(0.984 0.003 247.858);
	--muted: oklch(0.9551 0 0);
	--muted-foreground: oklch(0.40 0 0);
	--accent: oklch(0.606 0.25 292.717);
	--accent-foreground: oklch(0.984 0.003 247.858);
	--destructive: oklch(0 0 0);
	--destructive-foreground: oklch(1.0000 0 0);
	--border: oklch(0 0 0);
	--input: oklch(0 0 0);
	--ring: oklch(0.606 0.25 292.717);
	--chart-1: oklch(0.6489 0.2370 26.9728);
	--chart-2: oklch(0.606 0.25 292.717);
	--chart-3: oklch(0.5635 0.2408 260.8178);
	--chart-4: oklch(0.7323 0.2492 142.4953);
	--chart-5: oklch(0.5931 0.2726 328.3634);
	--sidebar: oklch(0.9551 0 0);
	--sidebar-foreground: oklch(0 0 0);
	--sidebar-primary: oklch(0.6489 0.2370 26.9728);
	--sidebar-primary-foreground: oklch(1.0000 0 0);
	--sidebar-accent: oklch(0.5635 0.2408 260.8178);
	--sidebar-accent-foreground: oklch(1.0000 0 0);
	--sidebar-border: oklch(0 0 0);
	--sidebar-ring: oklch(0.6489 0.2370 26.9728);

	--font-sans: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
	--font-mono: "Space Mono", ui-monospace, SFMono-Regular, "SF Mono", Menlo, Monaco, Consolas, monospace;

	--radius: 0px;

	--shadow-2xs: 4px 4px 0px 0px oklch(0.606 0.25 292.717);
	--shadow-xs: 4px 4px 0px 0px oklch(0.606 0.25 292.717);
	--shadow-sm: 4px 4px 0px 0px oklch(0.606 0.25 292.717);
	--shadow: 4px 4px 0px 0px oklch(0.606 0.25 292.717);
	--shadow-md: 4px 4px 0px 0px oklch(0.606 0.25 292.717);
	--shadow-lg: 4px 4px 0px 0px oklch(0.606 0.25 292.717);
	--shadow-xl: 4px 4px 0px 0px oklch(0.606 0.25 292.717);
	--shadow-2xl: 4px 4px 0px 0px oklch(0.606 0.25 292.717);

	--spacing: 0.25rem;
}

.dark {
	--background: oklch(0 0 0);
	--foreground: oklch(1.0000 0 0);
	--card: oklch(0.3211 0 0);
	--card-foreground: oklch(1.0000 0 0);
	--popover: oklch(0.3211 0 0);
	--popover-foreground: oklch(1.0000 0 0);
	--primary: oklch(0.7044 0.1872 23.1858);
	--primary-foreground: oklch(0 0 0);
	--secondary: oklch(0.606 0.25 292.717);
	--secondary-foreground: oklch(0.984 0.003 247.858);
	--muted: oklch(0.2178 0 0);
	--muted-foreground: oklch(0.8452 0 0);
	--accent: oklch(0.606 0.25 292.717);
	--accent-foreground: oklch(0.984 0.003 247.858);
	--destructive: oklch(1.0000 0 0);
	--destructive-foreground: oklch(0 0 0);
	--border: oklch(1.0000 0 0);
	--input: oklch(1.0000 0 0);
	--ring: oklch(0.606 0.25 292.717);
	--chart-1: oklch(0.7044 0.1872 23.1858);
	--chart-2: oklch(0.606 0.25 292.717);
	--chart-3: oklch(0.6755 0.1765 252.2592);
	--chart-4: oklch(0.7395 0.2268 142.8504);
	--chart-5: oklch(0.6131 0.2458 328.0714);
	--sidebar: oklch(0 0 0);
	--sidebar-foreground: oklch(1.0000 0 0);
	--sidebar-primary: oklch(0.7044 0.1872 23.1858);
	--sidebar-primary-foreground: oklch(0 0 0);
	--sidebar-accent: oklch(0.6755 0.1765 252.2592);
	--sidebar-accent-foreground: oklch(0 0 0);
	--sidebar-border: oklch(1.0000 0 0);
	--sidebar-ring: oklch(0.7044 0.1872 23.1858);

	--shadow-2xs: 4px 4px 0px 0px oklch(0.606 0.25 292.717);
	--shadow-xs: 4px 4px 0px 0px oklch(0.606 0.25 292.717);
	--shadow-sm: 4px 4px 0px 0px oklch(0.606 0.25 292.717);
	--shadow: 4px 4px 0px 0px oklch(0.606 0.25 292.717);
	--shadow-md: 4px 4px 0px 0px oklch(0.606 0.25 292.717);
	--shadow-lg: 4px 4px 0px 0px oklch(0.606 0.25 292.717);
	--shadow-xl: 4px 4px 0px 0px oklch(0.606 0.25 292.717);
	--shadow-2xl: 4px 4px 0px 0px oklch(0.606 0.25 292.717);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);

	--font-sans: var(--font-sans);
	--font-mono: var(--font-mono);

	--radius-sm: 0px;
	--radius-md: 0px;
	--radius-lg: 0px;
	--radius-xl: 0px;
	--radius: 0px;

	--shadow-2xl: var(--shadow-2xl);
	--shadow-xl: var(--shadow-xl);
	--shadow-lg: var(--shadow-lg);
	--shadow-md: var(--shadow-md);
	--shadow: var(--shadow);
	--shadow-sm: var(--shadow-sm);
	--shadow-xs: var(--shadow-xs);
	--shadow-2xs: var(--shadow-2xs);
	--spacing: var(--spacing);
}

body {
	font-family: var(--font-sans);
	line-height: 1.5;
	margin: 0;
	padding: 0;
}

#root {
	max-width: 900px;
	margin: 0 auto;
	padding: 2rem;
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}
